<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>购物车</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/proList.css" />
		<script src="js/vue.min.js"></script>
		<script src="js/axios.min.js"></script>
	</head>
	<body>
		<div id="app">
			<!--------------------------------------cart--------------------->
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="index.html"><img src="img/logo1.png" style="width:200px;height:60px;"/></a></h1>				
				</div>				
			</div>
		</div>
		<div class="cart mt">
			<div class="site">
				<p class=" wrapper clearfix">
					<span class="fl">购物车</span>
					<img class="top" src="img/temp/cartTop01.png">
					<a href="index.html" class="fr">继续购物&gt;</a>
				</p>
			</div>
			<!-----------------table------------------->
			<div class="table wrapper">
				<div class="tr">
					<div>商品</div>
					<div>单价</div>
					<div>数量</div>
					<div>小计</div>
					<div>操作</div>
				</div>
				<div class="th" v-for="item in carts" :key="item.shoppingCartID">
					<div class="pro clearfix">
						<!-- <label class="fl">
							<input type="checkbox" :value="item.productID" name="checks" @change="selectPro()">
    						<span></span>
						</label> -->
						<a class="fl" href="#">
							<dl class="clearfix">
								<dt class="fl"><img :src="item.productImg" style="width: 120px;height: 120px;"></dt>
								<dd class="fl">
									<p style="color: #ffffff;">.</p>
									<p>{{item.productName}}</p>
									<p style="color: #ffffff;">.</p>
								</dd>
							</dl>
						</a>
					</div>
					<div class="price">￥{{item.unitPrice}}</div>
					<div class="number">
						<p class="num clearfix">
							<img class="fl sub" src="img/temp/sub.jpg">
							<span class="fl">{{item.number}}</span>
							<img class="fl add" src="img/temp/add.jpg">
						</p>
					</div>
					<div class="price sAll">￥{{item.unitPrice*item.number}}</div>
					<div class="price">
						<a @click="remove(item.shoppingCartID)">删除</a>
						<a :href="'order.html?cid=' + item.shoppingCartID " style="margin-left: 20px;">结算</a>
					</div>
				</div>
				
				<div class="goOn">空空如也~<a href="index.html">去逛逛</a></div>
				<!-- <div class="tr clearfix">
					<label class="fl">
						<input class="checkAll"  type="checkbox" @click="changeAllChecked($event)" id="checkAll"/>
						<span></span>
					</label>
					<p class="fl">
						<a href="#">全选</a>
						<a href="#" class="del">删除</a>
					</p>
					<p class="fr">
						<span>共<small id="sl">0</small>件商品</span>
						<span>合计:&nbsp;<small id="all">￥0.00</small></span>
						<a href="order.html" class="count">结算</a>
					</p>
				</div> -->
			</div>
		</div>
		<div class="mask"></div>
		<div class="tipDel">
			<p>确定要删除该商品吗？</p>
			<p class="clearfix">
				<a class="fl cer" href="#">确定</a>
				<a class="fr cancel" href="#">取消</a>
			</p>
		</div>
		<!--返回顶部-->
		<div class="gotop">
			<a href="cart.html">
			<dl class="goCart">
				<dt><img src="img/gt1.png"/></dt>
				<dd>去购<br />物车</dd>
				<span>1</span>
			</dl>
			</a>
			<a href="#" class="dh">
			<dl>
				<dt><img src="img/gt2.png"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="mygxin.html">
			<dl>
				<dt><img src="img/gt3.png"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none;">
			<dl>
				<dt><img src="img/gt4.png"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<!--footer-->
		<div class="footer">
			<div class="top">
				<div class="wrapper">
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot1.png"/></a>
						<span class="fl">7天无理由退货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot2.png"/></a>
						<span class="fl">15天免费换货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot3.png"/></a>
						<span class="fl">满599包邮</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot4.png"/></a>
						<span class="fl">手机特色服务</span>
					</div>
				</div>
			</div>
			<p class="dibu">PurchaSaler&copy;2019-2020公司版权所有 京ICP备080100-44备0000111000号<br />
			违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
		</div>
		<!----------------mask------------------->
		<div class="mask"></div>
		<!-------------------mask内容------------------->
		<!-- <div class="proDets">
			<img class="off" src="img/temp/off.jpg" />
			<div class="proCon clearfix">
				<div class="proImg fr">
					<img class="list" src="img/temp/proDet.jpg"  />
					<div class="smallImg clearfix">
						<img src="img/temp/proDet01.jpg" data-src="img/temp/proDet01_big.jpg">
						<img src="img/temp/proDet02.jpg" data-src="img/temp/proDet02_big.jpg">
						<img src="img/temp/proDet03.jpg" data-src="img/temp/proDet03_big.jpg">
						<img src="img/temp/proDet04.jpg" data-src="img/temp/proDet04_big.jpg">
					</div>
				</div>
				<div class="fl">
					<div class="proIntro change">
						<p>颜色分类</p>
						<div class="smallImg clearfix">
							<p class="fl on"><img src="img/temp/prosmall01.jpg" alt="白瓷花瓶+20支快乐花" data-src="img/temp/proBig01.jpg"></p>
							<p class="fl"><img src="img/temp/prosmall02.jpg" alt="白瓷花瓶+20支兔尾巴草" data-src="img/temp/proBig02.jpg"></p>
							<p class="fl"><img src="img/temp/prosmall03.jpg" alt="20支快乐花" data-src="img/temp/proBig03.jpg"></p>
							<p class="fl"><img src="img/temp/prosmall04.jpg" alt="20支兔尾巴草" data-src="img/temp/proBig04.jpg"></p>
						</div>
					</div>
					<div class="changeBtn clearfix">
						<a href="#2" class="fl"><p class="buy">确认</p></a>
						<a href="#2" class="fr"><p class="cart">取消</p></a>
					</div>
				</div>
			</div>
		</div> -->
		<!-- <div class="pleaseC">
			<p>请选择宝贝</p>
			<img class="off" src="img/temp/off.jpg" />
		</div> -->
		</div>
		
	</body>
	<script src="js/jquery-1.12.4.min.js"></script>
	<script>
		var vue = new Vue({
			el:"#app",
			data() {
				return {
					carts:[],//购物车列表
					// sumPrice:0,  //合计金额
					// totalNumber: 0, //总数
					// select:[]	//选择列表
					
				}
			},
			mounted(){
				//获取购物车
				this.getCarts();
				//	回到顶部	
				$(".gotop a").hover(function(){
					var aa=$(this).hasClass("dh");
					if(aa==true){
						$(this).find("dt").hide().siblings("dd").fadeIn().parents("a").siblings("p").show().animate({left:"-110px"});
					}else{
						$(this).find("dt").hide().siblings("dd").fadeIn().parents("a").siblings("p").hide().animate({left:"-130px"});
					}
					},function(){
						$(this).find("dt").fadeIn().siblings("dd").hide().parents("a").siblings("p").hide();
				});            
				$(window).scroll(function(){
					var wh=$(window).scrollTop();
					if(wh>100){
						$(".toptop").fadeIn();
					}else{
						$(".toptop").fadeOut();
					}
					$(".toptop").click(function(){
						$(window).scrollTop(0);
					});
				});
				//			
			},
			methods: {
				//购物车列表
				getCarts() {
					axios({
						method:'get',
						url:'http://localhost:5000/api/ShoppingCart/GetCarts',
						headers:{
							'Authorization':'Bearer'+' '+localStorage['token']
						}
					})
					.then(function(res){
						console.log(res.data);
						vue.carts = res.data;
					})
					.catch(function(error){
						console.log(error);
						alert('token已失效，请登录');
						window.location.href = 'login.html';
					});					
				},
				//全选
				changeAllChecked(event){
					var input = document.getElementsByTagName('input');
					if(event.currentTarget.checked){
						for(var i = 0; i<input.length;i++){
							if(!input[i].checked){
								input[i].checked = true;
								this.select.push(input[i].value);
							}
						}
					}
					else{
						for(var i = 0; i<input.length;i++){
							input[i].checked = false;
							this.select = [];
						}
					}
				},
				//商品选择
				selectPro(){
					var all = document.getElementById('checkAll');
					var obj = document.getElementsByName('checks');					
					for(var i in obj){
						if (obj[i].checked){							
							vue.select.push(obj[i].value);
							vue.select = Array.from(new Set(vue.select));
						}						
					}
					if(vue.select.length == vue.carts.length){
						all.checked = true;
					}else{
						all.checked = false;
					}					
				},
				//移除购物车
				remove(cartid){
					axios({
						url:'http://localhost:5000/api/ShoppingCart/Remove',
						method:'post',
						data:{
							id:parseInt(cartid)
						}
					})
					.then(function(res){
						console.log(res.data);
						alert("是否删除");
						window.location.href = 'cart.html';
					})
					.catch(function(error){
						console.log(error);
					});
				},
			},
			
		});
	</script>
</html>
