<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/login.css"/>
		<script src="js/vue.min.js"></script>
		<script src="js/axios.min.js"></script>
	</head>
	<body>
		<!-------------------login-------------------------->
		<div class="login">
			<form action="#" method="post">
				<h1><a href="index.html"><img src="img/logo1.png" style="width: 200px;height: 60px;"></a></h1>
				<p></p>
				<div class="msg-warn hide"><b></b>公共场所不建议自动登录，以防账号丢失</div>
				<p><input v-model="username" type="text" name="" value="" placeholder="用户名"></p>
				<p><input v-model="password" type="password" name="" value="" placeholder="密码"></p>
				<p><input type="button" name="" value="登  录" @click="post()"></p>
				<p class="txt"><a class="" href="reg.html">免费注册</a><a href="forget.html">忘记密码？</a></p>
			</form>
		</div>
		
	</body>
	<script>
		var vue = new Vue({
			el:".login",
			data() {
				return {
					username:"",
					password:"",
				}
			},
			methods: {
				post(){
					axios.post("http://localhost:5000/api/Users/Login",{
						userName:vue.username,
						password:vue.password,
					})
					.then(function(res){
						//本地保存token
						localStorage.setItem("token",res.data);						
						alert("登录成功，点击确定跳转首页");						
						window.location.href = "index.html";				
					})
					.catch(function (error){
						alert("用户不存在或密码错误");
						window.location.href = "login.html";
					});
				},
			},
		});
	</script>
</html>
