<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/signin.css">
    <script src="js/axios.min.js"></script>
    <script src="js/vue.min.js"></script>
<body>
    <div id="app">
        <!--顶部开始-->
        <div class="header">
            <div class="Logo">
                <a href="index.html" title="PurchaSaler置闲物品交易网">
                    <img src="img/logo1.png" style="width:200px;height:60px;margin-top:20px;" title="PurchaSaler置闲物品交易网" />
                </a>
                <span></span>
            </div>
        </div>
        <!--顶部结束-->
        <div class="container" style="padding-top: 60px;">
            <div class="form-signin">
              <h2 class="form-signin-heading">Please sign in</h2>
              <label for="username" class="sr-only">Email address</label>
              <input v-model="username" type="username" id="inputEmail" class="form-control" placeholder="UserName" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input v-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block" @click="login()">Sign in</button>
            </div>
        </div> <!-- /container -->
        
        <div class="forget_register">
            <a href="#"><span>忘记密码</span></a>
            <a href="#"><span>注册账号</span></a>
        </div>
        
    </div>
</body>
<script>
    var vue = new Vue({
        el:"#app",
        data() {
            return {
                username:"",
                password:"",
                url:"http://localhost:5000/api/Users/Login",
            }
        },
        methods: {
            login(){
                axios.post(vue.url,{
                username:vue.username,
                password:vue.password
                })
                .then(function(res){
                    // console.log(res.data)
                    vue.saveToken(res.data);
                    vue.toUrl();
                })
                .catch(function(error){
                    console.log(error);
                })
            },
            saveToken(token){
                localStorage.setItem("token",token);
            },
            toUrl(){
                console.log('登录成功');
                window.location.href="index.html";
            }
        },
    });
</script>
</html>