<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>我的闲置</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/myproducts.css" />
		<script src="js/vue.min.js"></script>
		<script src="js/axios.min.js"></script>
	</head>
	<body>
		<!------------------------------head------------------------------>
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="index.html"><img src="img/logo1.png" style="width:200px;height:60px;"/></a></h1>
				</div>					
			</div>
		</div>
		<!------------------------------idea------------------------------>
		<div class="address mt">
			<div class="wrapper clearfix">
				<a href="index.html" class="fl">首页</a>
				<span>/</span>
				<a href="mygxin.html" class="on">个人信息</a>
			</div>
		</div>
		
		<div id="app">
			<!------------------------------Bott------------------------------>
		<div class="Bott">
			<div class="wrapper clearfix">
				<div class="zuo fl">
					<h3>
						<a href="mygxin.html"><img :src="user.avatar" width="92px" height="92px"/></a>
						<p class="clearfix"><span>[{{user.userName}}]</span>
							<br>
							<span @click="logout()">[退出登录]</span>
						</p>
					</h3>
					<div>
						<h4>我的交易</h4>
						<ul>
							<li><a href="cart.html">我的购物车</a></li>
							<li><a href="myproducts.html">我的闲置</a></li>
							<li><a href="myorderq.html">我的订单</a></li>
						</ul>
						<h4>个人中心</h4>
						<ul>
							<li  class="on"><a href="mygxin.html">我的中心</a></li>
							<li><a href="address.html">地址管理</a></li>
						</ul>
						<h4>账户管理</h4>
						<ul>
							<li><a href="mygrxx.html">个人信息</a></li>
							<li><a href="remima.html">修改密码</a></li>
						</ul>
					</div>
				</div>
				<div class="you fl">
					<div class="my clearfix">
						<h2 class="fl">我的闲置</h2>
					</div>
					<div class="dlist clearfix">
						<ul class="fl clearfix" id="wa">
							<li class="on"><a href="#2">全部闲置</a></li>                 
                        </ul>
                            <h2 class="fr" id="edit1">发布闲置</h2>
					</div>
					
					<div class="dkuang" v-for="item in myproducts" :key="item.productID">						
						<div class="shohou clearfix">
							<a href="#" class="fl"><img :src="item.image"/></a>
							<p class="fl">
								<a>商品名 : {{item.productName}}</a>
								<a>描述 : {{item.description}}</a>
								<a>价格 : ¥{{item.price}}</a>
								<a>库存 : {{item.stock}}</a>
							</p>
							<p class="fr">
								<a @click="getProduct(item.productID)">编辑</a>
								<a @click="delProduct(item.productID)">下架</a>
							</p>
						</div>
					</div>
					<!-- <a id="edit2">修改</a> -->

                    <!-- 分页 -->
					<div class="fenye clearfix">
						<a href="#"><img src="img/zuo.jpg"/></a>
						<a href="#">1</a>
						<a href="#"><img src="img/you.jpg"/></a>
                    </div>
                    
				</div>
			</div>
		</div>
		<!--遮罩-->
		<div class="mask"></div>
		<!--发布弹框-->
		<div id="fabu" class="bj">
			<h3>编辑商品信息</h3>
			<form action="#">
                <p><label>商品名：</label><input class="tinfo" v-model="productName" type="text"/></p>                
                <p><label>价格：</label><input class="tinfo" v-model="price" type="text"/></p>
                <p><label>库存：</label><input class="tinfo" v-model="stock" type="text"/></p>
                <p><label>商品描述：</label><input class="tinfo" v-model="description" type="text"/></p>
                <p>
                    <label>商品类型：</label>
                    <select class="tinfo" v-model="productTypeID">
                        <option value="1">智能数码</option>
                        <option value="2">衣装服饰</option>
                        <option value="3">书籍资料</option>
                        <option value="4">电器设备</option>
                        <option value="5">美妆饰品</option>
                    </select>
                </p>
                <p><label>上传图片：</label><input accept="image/jpg" type="file" id="files" @change="uploadPhotos" multiple/></p>
                <p>4张图片：图片展示、图片描述1、图片描述2、图片描述3</p>
				<div class="bc">
					<input type="button" value="提交" @click="addProduct()" />
					<input class="gb" type="button" value="取消" />
				</div>
			</form>
		</div>
		<!--遮罩-->
		<div class="mask2" v-if="mask2"></div>
		<!--修改商品弹框-->
		<div class="xiugai" v-if="xiugai">
			<h3>修改商品信息</h3>
			<form action="#">
                <p><label>商品名：</label><input class="tinfo" v-model="product.productName" type="text"/></p>                
                <p><label>价格：</label><input class="tinfo" v-model="product.price" type="text"/></p>
                <p><label>库存：</label><input class="tinfo" v-model="product.stock" type="text"/></p>
                <p><label>商品描述：</label><input class="tinfo" v-model="product.description" type="text"/></p>
                <p>
                    <label>商品类型：</label>
                    <select class="tinfo" v-model="product.productTypeID">
                        <option value="1">智能数码</option>
                        <option value="2">衣装服饰</option>
                        <option value="3">书籍资料</option>
                        <option value="4">电器设备</option>
                        <option value="5">美妆饰品</option>
                    </select>
                </p>
                <p><label>上传图片：</label><input accept="image/jpg" type="file" id="files" @change="uploadPhotos" multiple/></p>
                <p>4张图片：图片展示、图片描述1、图片描述2、图片描述3</p>
				<div class="bc">
					<input type="button" value="提交" @click="updateProduct()" />
					<input class="gb" type="button" value="取消" @click="tanchuanclose()"/>
				</div>
			</form>
		</div>
		
		<!--返回顶部-->
		<div class="gotop">
			<a href="cart.html">
			<dl>
				<dt><img src="img/gt1.png"/></dt>
				<dd>去购<br />物车</dd>
			</dl>
			</a>
			<a href="#" class="dh">
			<dl>
				<dt><img src="img/gt2.png"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="mygxin.html">
			<dl>
				<dt><img src="img/gt3.png"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none">
			<dl>
				<dt><img src="img/gt4.png"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<!--footer-->
		<div class="footer">
			<div class="top">
				<div class="wrapper">
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot1.png"/></a>
						<span class="fl">7天无理由退货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot2.png"/></a>
						<span class="fl">15天免费换货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot3.png"/></a>
						<span class="fl">满599包邮</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot4.png"/></a>
						<span class="fl">手机特色服务</span>
					</div>
				</div>
			</div>
			<p class="dibu">最家家居&copy;2013-2017公司版权所有 京ICP备080100-44备0000111000号<br />
			违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
		</div>
	</body>
	<script src="js/jquery-1.12.4.min.js"></script>
	<script>
		var vue = new Vue({
			el:"#app",
			data() {
				return {
					user:[],
					myproducts:[],
					product:[],					
					productName:"",
                    productTypeID:"",
                    price:"",
                    stock:"",
                    description:"",
                    photos:[],
					flag:false,
					mask2:0,
					xiugai:0,
					pid:"",
				}
			},
			mounted(){
				//获取用户信息
				this.get();
				//获取我的置闲
				this.getMyProducts();
				//	 商品发布
				$("#edit1").click(function(){
					$(".mask").show();
					$("#fabu").show();
				});				
				//关闭弹窗
				$(".gb").click(function(){
					$(".mask").hide();
					$(".bj").hide();
					$(".avatar").hide();
				});
			}
			,			
			methods: {
				get(){
					axios.get("http://localhost:5000/api/Users/UserInfo",{
						headers:{
                    		'Authorization': "Bearer"+" "+ localStorage['token']
                   		}
					})
					.then(function(res){
						vue.user = res.data;						
						// console.log(vue.user);
					})
					.catch(function(error){
						alert("您的token已失效，请重新登录");
						window.location.href="login.html";
					});
				},
				logout(){
					localStorage.setItem("token","");
					alert("您已退出，点击返回首页");
					window.location.href="index.html";
				},				
				uploadPhotos(e){
                    let files = e.target.files;
                    let formData = new FormData();
                    for (var i = 0; i < files.length; i++) {
                        formData.append("files", files[i]);
                    }                   
					axios.post("http://localhost:5000/api/Products/UploadPhotos",formData,{
						headers: {
							'Authorization': "Bearer"+" "+ localStorage['token'],
							'Content-Type': 'multipart/form-data'
						},
					})
					.then(function(res){
                        alert("图片上传成功");
                        vue.photos = res.data;
                        vue.flag = true;
					})
					.catch(function(error){
						alert("您的token已失效，请重新登录");
					});   
                },
                addProduct(){
                    var thisVue = this;
					if(thisVue.flag){ 
						let data ={
								productName: thisVue.productName,
                                productTypeID: thisVue.productTypeID.toString(),
                                price: thisVue.price.toString(),
                                stock: thisVue.stock.toString(),
                                description: thisVue.description,
                                image: thisVue.photos[0],
                                photo1: thisVue.photos[1],
                                photo2: thisVue.photos[2],
                                photo3: thisVue.photos[3],
						}                      
						axios({
							method:'post',
							url:'http://localhost:5000/api/Products/AddProduct',
							data:data,
							headers:{
								'Authorization': "Bearer"+" "+ localStorage['token'],
								'Content-Type' : 'application/json'
							}
						})
                        .then(function(res){
							alert("发布成功");
							thisVue.flag = false;
                            window.location.href="myproducts.html";
                        })
                        .catch(function(error){
                            console.log(error);
                            alert("您的token已失效，请重新登录");
                            window.location.href="login.html";
                        });
                    }else{
                        alert("图片未上传");
                    }
                },
				getMyProducts(){
					axios.get("http://localhost:5000/api/Products/GetMyProducts",{
						headers:{
                    		'Authorization': "Bearer"+" "+ localStorage['token']
                   		}
					})
					.then(function(res){
						// console.log(res.data);
						vue.myproducts = res.data;
					})
					.catch(function(error){
						alert("您的token已失效，请重新登录");
						window.location.href="login.html";
					});
				},
				getProduct(pid){
					//弹出
					vue.mask2 = 1;
					vue.xiugai = 1;
					//获取商品信息
					vue.pid = pid;
					var thisVue = this;     
					axios({
						method:'post',
						url:'http://localhost:5000/api/Products/GetProduct',
						data:{
							id: thisVue.pid,
						},
						headers:{
							'Content-Type' : 'application/json',
						}
					})
					.then(function(res){
						console.log(res.data);
						thisVue.product = res.data;
					})
					.catch(function(error){
						console.log(error.data);                            
					});
				},
				tanchuanclose(){
					vue.mask2 = 0;
					vue.xiugai = 0;
				},
				updateProduct(){
					let param = {
						productID : vue.product.productID.toString(),
						ownerID : vue.product.ownerID.toString(),
						productName : vue.product.productName,
						productTypeID : vue.product.productTypeID.toString(),
						price : vue.product.price.toString(),
						stock : vue.product.stock.toString(),
						description : vue.product.description,
						image : vue.photos[0],
						photo1 : vue.photos[1],
						photo2 : vue.photos[2],
						photo3 : vue.photos[3],
					};
					if(vue.flag){
						axios({
							method:'post',
							url:'http://localhost:5000/api/Products/UpdateProduct',
							data:JSON.stringify(param),
							headers:{
								'Authorization': "Bearer"+" "+ localStorage['token'],
								'Content-Type' :'application/json',
							},
						})
						.then(function(res){
							// console.log(res.data);
							vue.flag = false;
							alert("修改成功");
							window.location.href="myproducts.html";
						})
						.catch(function(error){
							console.log(error.data);
							alert("token已失效，请登录");
							window.location.href = "login.html";
						});
					}else{
						alert("图片未上传");
					}
				},
				delProduct(pid){
					alert('确认下架该商品');
					axios({
						method:'post',
						url:'http://localhost:5000/api/Products/DelProduct',
						data:{
							id:pid,
						},
						headers:{
							'Authorization': "Bearer"+" "+ localStorage['token'],
							'Content-Type':'application/json'
						}
					})
					.then(function(res){
						console.log(res.data);
						alert('下架成功');
						window.location.href = 'myproducts.html';
					})
					.catch(function(error){
						console.log(error.data);
						alert('token已失效，请登录');
						window.location.href = 'login.html'
					})
				},				
			},

		});
	</script>
</html>