<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>order</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/proList.css" />
		<link rel="stylesheet" type="text/css" href="css/mygxin.css" />
		<script src="js/vue.min.js"></script>
		<script src="js/axios.min.js"></script>
	</head>
	<body>
		<div id="app">
			<!----------------------------------------order------------------>
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="index.html"><img src="img/logo1.png" style="width:200px;height:60px;"/></a></h1>
				</div>					
			</div>
		</div>
		<div class="order cart mt">
			<!-----------------site------------------->
			<div class="site">
				<p class="wrapper clearfix">
					<span class="fl">订单确认</span>
					<img class="top" src="img/temp/cartTop02.png">
				</p>
			</div>
			<!-----------------orderCon------------------->
			<div class="orderCon wrapper clearfix">
				<div class="orderL fl">
					<!--------h3---------------->
					<h3>收件信息<a id="addCon" class="fr">新增收件信息</a></h3>
					<!--------addres---------------->
					<div class="addres clearfix">
						<div class="addre fl" v-for="item in receiveInfo" :key="item.addressID">
							<div class="tit clearfix">
								<p id="aName" class="fl">{{item.name}}
									<!-- <span class="default">[默认地址]</span> -->
								</p>
								<p class="fr">
									<!-- <a href="#">删除</a> -->
									<!-- <span>|</span> -->
									<!-- <a href="#" class="edit">编辑</a> -->
								</p>
							</div>
							<div class="addCon">
								<p id="aAddr">{{item.province}}&nbsp;{{item.city}}&nbsp;{{item.county}}&nbsp;{{item.addressDetail}}</p>
								<p id="aPhone">{{item.phone}}</p>
							</div>
						</div>
						<div class="addre fl">
							<div class="tit clearfix">
								<p id="aName" class="fl">张三2
								</p>
								<p class="fr"> -->
									<a href="#" class="setDefault">设为默认</a>
									<span>|</span>
									<a href="#">删除</a>
									<span>|</span>
									<a href="#" class="edit">编辑</a>
								</p>
							</div>
							<div class="addCon">
								<p id="aAddr">河北省&nbsp;唐山市&nbsp;路北区&nbsp;大学生公寓村</p>
								<p id="aPhone">15732570937</p>
							</div>
						</div>
						<!--<div class="addre fl">
							<div class="tit clearfix">
								<p id="aName" class="fl">张三3
								</p>
								<p class="fr"> -->
									<!-- <a href="#" class="setDefault">设为默认</a> -->
									<!-- <span>|</span> -->
									<!-- <a href="#">删除</a>
									<span>|</span>
									<a href="#" class="edit">编辑</a>
								</p>
							</div>
							<div class="addCon">
								<p id="aAddr">河北省&nbsp;唐山市&nbsp;路北区&nbsp;大学生公寓村</p>
								<p id="aPhone">15732570937</p>
							</div>
						</div> -->
					</div>
					<h3>支付方式</h3>
					<!--------way---------------->
					<div class="way clearfix">
						<img class="on" src="img/temp/way01.jpg"> 
						<img src="img/temp/way02.jpg"> 
						<img src="img/temp/way03.jpg"> 
						<img src="img/temp/way04.jpg"> 
					</div>
					<!-- <h3>选择快递</h3> -->
					<!--------dis---------------->
					<!-- <div class="dis clearfix">
						<span class="on">顺风快递</span>
						<span>百世汇通</span>
						<span>圆通快递</span>
						<span>中通快递</span>
					</div> -->
				</div>
				<div class="orderR fr">
					<div class="msg">
						<h3>订单内容<a href="cart.html" class="fr">返回购物车</a></h3>
						<!--------ul---------------->
						<ul class="clearfix">
							<li class="fl">
								<img :src="cartinfo.productImg" style="width: 87px;height: 87px;">
							</li>
							<li class="fl">
								<p>{{cartinfo.productName}}</p>
								<!-- <p>颜色分类：烟灰色玻璃瓶</p> -->
								<p>数量：{{cartinfo.number}}</p>
							</li>
							<li class="fr">￥{{cartinfo.unitPrice}}</li>
						</ul>
						<!-- <ul class="clearfix">
							<li class="fl">
								<img src="img/temp/order02.jpg">
							</li>
							<li class="fl">
								<p>创意现代简约干花花瓶摆件</p>
								<p>颜色分类：烟灰色玻璃瓶</p>
								<p>数量：1</p>
							</li>
							<li class="fr">￥69.90</li>
						</ul> -->
					</div>
					<!--------tips---------------->
					<div class="tips">
						<p><span class="fl">商品金额：</span><span class="fr">￥{{cartinfo.unitPrice}}</span></p>
						<p><span class="fl">优惠金额：</span><span class="fr">￥0.00</span></p>
						<p><span class="fl">运费：</span><span class="fr">免运费</span></p>
					</div>
					<!--------tips count---------------->
					<div class="count tips">
						<p><span class="fl">合计：</span><span class="fr">￥{{cartinfo.unitPrice}}</span></p>
					</div>
					<!--<input type="button" name="" value="去支付"> -->
					<a class="pay" @click="generateOrder()">去支付</a>
				</div>
			</div>
		</div>
		<!--编辑弹框-->
		<!--遮罩-->
		<div class="mask"></div>
		<div class="adddz editAddre">
			<form action="#" method="get">
				<input v-model="xingming" type="text" placeholder="姓名" class="on" />
				<input v-model="shoujihao" type="text" placeholder="手机号" />
				<div class="city">
					<input v-model="shengfen" type="text" placeholder="省份/自治区">
					<input v-model="chengshi" type="text" placeholder="城市/地区">
					<input v-model="xian" type="text" placeholder="区/县">
					<!-- <select name="">
						<option value="省份/自治区">省份/自治区</option>
					</select>
					<input type="text" placeholder="省份/自治区">
					<select>
						<option value="城市/地区">城市/地区</option>
					</select>
					<select>
						<option value="区/县">区/县</option>
					</select> -->
					<!-- <select>
						<option value="配送区域">配送区域</option>
					</select> -->
				</div>
				<textarea v-model="addreDetail" name="" rows="" cols="" placeholder="详细地址"></textarea>
				<!-- <input type="text" placeholder="邮政编码" /> -->
				<div class="bc">
					<input type="button" value="保存" @click="addReceiveInfo()"/>
					<input type="button" value="取消" id="cancel" />
				</div>
			</form>
		</div>
		<!--返回顶部-->
		<div class="gotop">
			<a href="cart.html">
			<dl>
				<dt><img src="img/gt1.png"/></dt>
				<dd>去购<br />物车</dd>
			</dl>
			</a>
			<a href="#" class="dh">
			<dl>
				<dt><img src="img/gt2.png"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="mygxin.html">
			<dl>
				<dt><img src="img/gt3.png"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none;">
			<dl>
				<dt><img src="img/gt4.png"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<!--footer-->
		<div class="footer">
			<div class="top">
				<div class="wrapper">
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot1.png"/></a>
						<span class="fl">7天无理由退货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot2.png"/></a>
						<span class="fl">15天免费换货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot3.png"/></a>
						<span class="fl">满599包邮</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot4.png"/></a>
						<span class="fl">手机特色服务</span>
					</div>
				</div>
			</div>
			<p class="dibu">PurchaSaler&copy;2019-2020公司版权所有 京ICP备080100-44备0000111000号<br />
			违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
		</div>
		</div>
	</body>
	<script src="js/jquery-1.12.4.min.js"></script>
	<script>
		var vue = new Vue({
			el:'#app',
			data() {
				return {
					cartinfo:[],
					name:'',
					addr:'',
					phone:'',
					xingming:'',
					shoujihao:'',
					shengfen:'',
					chengshi:'',
					xian:'',
					addreDetail:'',
					receiveInfo:[]
				}
			},
			mounted(){
				//获取购物车商品信息
				var cid = this.getUrlParam('cid');
				this.getProduct(cid);
				//获取收件信息
				this.getReceiveInfo();
				//展示新增地址
				$('#addCon').click(function(){
					$('.mask').show();
					$('.adddz').show();
					$('.editAddre').show();
				});
				//取消
				$('#cancel').click(function(){
					$('.mask').hide();
					$('.adddz').hide();
					$('.editAddre').hide();
				});		
				// //地址选择与获取当前选择地址内容
				// var name='';
				// var addr='';
				// var phone='';
				// var temp = this;
				// $(".addre").click(function(){
				// 	$(this).addClass("on").siblings().removeClass("on");
				// 	 name= $('.on #aName').text().trim();
				// 	 addr= $('.on #aAddr').text().trim();
				// 	 phone= $('.on #aPhone').text().trim();
				// 	 temp.getAddrData(name,addr,phone);				 					
				// });
			},
			updated(){
				//地址选择与获取当前选择地址内容
				var name='';
				var addr='';
				var phone='';
				var temp = this;
				$(".addre").click(function(){
					$(this).addClass("on").siblings().removeClass("on");
					 name= $('.on #aName').text().trim();
					 addr= $('.on #aAddr').text().trim();
					 phone= $('.on #aPhone').text().trim();
					 temp.getAddrData(name,addr,phone);				 					
				});
			},
			methods: {
				//获取地址栏购物车id				
				getUrlParam(name) {
                 //构造一个含有目标参数的正则表达式对象
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                //匹配目标参数
                var r = window.location.search.substr(1).match(reg);
                //返回参数值
                if (r != null) return unescape(r[2]); return null; 
            	},
				//获取购物车商品信息
				getProduct(cid){
					axios({
						method:'post',
						url:'http://localhost:5000/api/ShoppingCart/GetOneCart',
						data:{
							id:parseInt(cid)
						}
					})
					.then(function(res){
						vue.cartinfo = res.data;
						console.log(res.data);
					})
					.catch(function(error){
						console.log(error);
					});
				},
				//获取地址栏内容
				getAddrData(name,addr,phone){
					vue.name = name;
					vue.addr = addr;
					vue.phone = phone;
					console.log(vue.name,vue.addr,vue.phone);
				},
				//生成订单
				generateOrder(){
					if(vue.name!=''){
						axios({
							method:'post',
							url:'http://localhost:5000/api/Orders/GenerateOrders',
							headers:{
								'Authorization': "Bearer"+" "+ localStorage['token']
							},
							data:{								
								productID: vue.cartinfo.productID,
								productName: vue.cartinfo.productName,
								productImg: vue.cartinfo.productImg,
								number: vue.cartinfo.number,
								unitPrice: vue.cartinfo.unitPrice,
								totalPrice: vue.cartinfo.totalPrice,
								receivePeople: vue.name,
								phone: vue.phone,
								address: vue.addr,
							}
						})
						.then(function(res){
							console.log(res.data);
							window.location.href = "ok.html"; 
						})
						.catch(function(error){
							console.log(error);
						});
					}else{
						alert("请选择收件信息");
						window.location.reload();
					}					
				},
				//新增收件信息
				addReceiveInfo(){
					axios({
						method:'post',
						url:'http://localhost:5000/api/Address/Add',
						data:{
							name:vue.xingming,
							phone:parseInt(vue.shoujihao),
							province:vue.shengfen,
							city:vue.chengshi,
							county:vue.xian,
							addressDetail:vue.addreDetail
						},
						headers:{
							'Authorization': "Bearer"+" "+ localStorage['token']
						}
					})
					.then(function(res){
						console.log(res.data);
					})
					.catch(function(error){
						console.log(error);
					});
				},
				//获取收件信息
				getReceiveInfo(){
					axios({
						method:'get',
						url:'http://localhost:5000/api/Address/GetAddressList',
						headers:{
							'Authorization': "Bearer"+" "+ localStorage['token']
						}
					})
					.then(function(res){
						console.log(res.data);
						vue.receiveInfo = res.data;
					})
					.catch(function(error){
						console.log(error);
					});
				},
				//展示收件信息
				showReceiveInfo(){

				},	
			},
		});
	</script>
</html>
