<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品详情</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/proList.css">
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <!------------------------------head------------------------------>
		<div class="head">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="index.html"><img src="img/logo1.png" style="width:200px;height:60px;"/></a></h1>
					<div class="fr clearfix" id="top1">
						<p class="fl">
							<a href="login.html" id="login">登录</a>
							<a href="reg.html" id="reg">注册</a>
						</p>
						<form action="#" method="get" class="fl">
							<input type="text" placeholder="" />
							<input type="button" />
						</form>
						<div class="btn fl clearfix">
							<a href="mygxin.html"><img src="img/grzx.png"/></a>
							<a href="#" class="er1"><img src="img/ewm.png"/></a>
							<a href="cart.html"><img src="img/gwc.png"/></a>
							<p><a href="#"><img src="img/smewm.png"/></a></p>
						</div>
					</div>
				</div>
				<!-- 分类 -->
				<ul class="clearfix" id="bott">
					<li><a href="index.html">首页</a></li>
					<li><a href="#">所有商品</a></li>
					<li><a href="#">智能数码</a></li>
					<li><a href="#">衣装服饰</a></li>
					<li><a href="#">书籍资料</a></li>
					<li><a href="#">电器设备</a></li>
					<li><a href="#">美妆饰品</a></li>
				</ul>
				<!-- 分类结束 -->
			</div>
		</div>
		<!-----------------address------------------------------->
		
		<!-----------------------Detail------------------------------>
		<div class="detCon">
			<div class="proDet wrapper">
				<div class="proCon clearfix">
					<div class="proImg fl">
						<img class="det" :src="product.image" />						
					</div>
					<div class="fr intro">
						<div class="title">
							<h4>{{product.productName}}</h4>
							<p>{{product.description}}</p><br>
							<span>￥{{product.price}}</span>
						</div>
						<div class="proIntro">							
							<p>数量&nbsp;&nbsp;库存<span>{{product.stock}}</span>件</p>
							<div class="num clearfix">
								<a @click="subCtr()"><img class="fl sub" src="img/temp/sub.jpg"></a>
								<span class="fl" contentEditable="true" v-model="number">{{number}}</span>
								<a @click="addCtr()"><img class="fl add" src="img/temp/add.jpg"></a>
                                <p v-if="msg1" class="please fl">商品数量必须大于0!</p>
                                <p v-if="msg2" class="please fl">商品数量大于库存!</p>
							</div>
						</div>
						<div class="btns clearfix">
							<a href="#2"><p class="buy fl">立即购买</p></a>
							<a @click="addShoppingcart()"><p class="cart fr">加入购物车</p></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="introMsg wrapper clearfix">
			<div class="msgL" style="margin: 0 auto;">
				<div class="msgTit clearfix">
					<a class="on">商品详情</a>
				</div>
				<div class="msgAll">
					<div class="msgImgs" style="text-align: center;">
						<img :src="product.photo1">
						<img :src="product.photo2">
						<img :src="product.photo3">
					</div>					
				</div>
			</div>			
		</div>		
		<!--返回顶部-->
		<div class="gotop">
			<a href="cart.html">
			<dl class="goCart">
				<dt><img src="img/gt1.png"/></dt>
				<dd>去购<br />物车</dd>
				<span>1</span>
			</dl>
			</a>
			<a href="#" class="dh">
			<dl>
				<dt><img src="img/gt2.png"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="mygxin.html">
			<dl>
				<dt><img src="img/gt3.png"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none;">
			<dl>
				<dt><img src="img/gt4.png"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<div class="msk"></div>
		<!--footer-->
		<div class="footer">
			<div class="top">
				<div class="wrapper">
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot1.png"/></a>
						<span class="fl">7天无理由退货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot2.png"/></a>
						<span class="fl">15天免费换货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot3.png"/></a>
						<span class="fl">满599包邮</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot4.png"/></a>
						<span class="fl">手机特色服务</span>
					</div>
				</div>
			</div>
			<p class="dibu">PurchaSaler&copy;2019-2020公司版权所有 京ICP备080100-44备0000111000号<br />
			违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
		</div>
    </div>
</body>
<script src="js/jquery-1.12.4.min.js"></script>
<script>
    var vue = new Vue({
        el:"#app",
        data() {
            return {
                product:[],
                msg1:0,
                msg2:0,
                number:1,
            }
        },
        mounted(){
            //获取商品
            let pid = this.getUrlParam('pid');
            this.getProduct(pid);
            //	回到顶部	
            $(".gotop a").hover(function(){
                var aa=$(this).hasClass("dh");
                if(aa==true){
                    $(this).find("dt").hide().siblings("dd").fadeIn().parents("a").siblings("p").show().animate({left:"-110px"});
                }else{
                    $(this).find("dt").hide().siblings("dd").fadeIn().parents("a").siblings("p").hide().animate({left:"-130px"});
                }
            },function(){
                $(this).find("dt").fadeIn().siblings("dd").hide().parents("a").siblings("p").hide();
            });            
            $(window).scroll(function(){
                var wh=$(window).scrollTop();
                if(wh>100){
                    $(".toptop").fadeIn();
                }else{
                    $(".toptop").fadeOut();
                }
                $(".toptop").click(function(){
                    $(window).scrollTop(0);
                });
            });
        },
        methods: {
            getUrlParam(name) {
                 //构造一个含有目标参数的正则表达式对象
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                //匹配目标参数
                var r = window.location.search.substr(1).match(reg);
                //返回参数值
                if (r != null) return unescape(r[2]); return null; 
            },
            getProduct(pid){
                //获取商品id
                axios({
                    method:'post',
                    url:'http://localhost:5000/api/Products/GetProduct',
                    data:{
                        id:parseInt(pid),
                    }
                })
                .then(function(res){
                    // console.log(res.data);
                    vue.product = res.data;
                })
                .catch(function(error){
                    console.log(error.data);
                });
            },
            subCtr(){
                if(vue.number==1){
                    vue.msg1 = 1;
                }else{
                    vue.number = vue.number - 1;
                    vue.msg1 = 0;
                    vue.msg2 = 0;
                }
            },
            addCtr(){
                if(vue.number==vue.product.stock){
                    vue.msg2 = 1;
                }else{
                    vue.number = vue.number + 1;
                    vue.msg1 = 0;
                    vue.msg2 = 0;
                }
            },
            addShoppingcart(){
                axios({
                    method:'post',
                    url:'http://localhost:5000/api/ShoppingCart/AddShoppingCarts',
                    data:{
						productID: vue.product.productID,
						productName: vue.product.productName,
  						productImg: vue.product.image,
                        number: vue.number,
                        unitPrice: vue.product.price,
                        totalPrice: vue.product.price * vue.number
                    },
                    headers:{
                        'Authorization': "Bearer"+" "+ localStorage['token']
                    }
                })
                .then(function(res){
                    // console.log(res.data);
                    alert("添加成功");
                    window.location.reload();
                })
                .catch(function(error){
                    if(error.response.status==403){
                        alert("商品已存在与您的购物车");
                        window.location.reload();
                    }else{
                        alert("token已失效，请登录");
                        window.location.href = 'login.html';
                    }
                });
            },
        },
    });
</script>
</html>