<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <button @click="get">获取名字</button>
    </div>
   
</body>
<script>
    var vue = new Vue({
        el:"#app",
        data() {
            return {
                username: "ulquiola",
                url:"http://localhost:5000/api/users/getusername"
            }
        },
       methods: {
           get(){
               axios.get(vue.url,{
                   headers:{
                    'Authorization': "Bearer"+" "+ localStorage['token']
                   }
               })
               .then(function (res){
                   console.log(res);
               })
               .catch(function (error){
                   console.log(error);
               })
           }
       },
    });
</script>
</html>